<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

    <% if (locals.user != undefined) { %>
     
        <%- include('./partials/headerLogueado') %>

        <% } else { %>
         
            <%- include('./partials/header') %>

    <% } %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%= datos.fotoPerfil %>" alt="">
                <div class="info-usuario">
                    <h1 class="h1-register"><%= datos.nombreUsuario %></h1> 
                    <a class="follow" href="">Seguir</a>
                    <ul class="meta">
                        <li><%= datos.usuariosAPosteos.length %> posts</li>
                        <li>200 seguidores</li>
                        <li>300 seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <article class="post">
                    <% for( let j = 0; j < datos.usuariosAPosteos.length; j++ ) { %>
                        <a href="/posteos/detalle/<%= datos.usuariosAPosteos[j].id %>">
                            <img src="<%= datos.usuariosAPosteos[j].url %>" alt="">
                        </a>
                        <% } %>
                </article>
            </section>
        </div>
    </main>

<%- include('./partials/footer') %>

</body>

</html>