<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <% if (locals.user != undefined) { %>
     
        <%- include('./partials/headerLogueado') %>

        <% } else { %>
         
            <%- include('./partials/header') %>

    <% } %>

    <main>
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario">
                    <img src="<%= posteo.posteosAUsuarios.fotoPerfil %>" alt="" class="fotoPerfil">
                    <p><a href="/usuarios/detalle/<%= posteo.usuarioId %>"><%= posteo.posteosAUsuarios.nombreUsuario %></a></p>
                </div>
                <img class="photo" src=<%= posteo.url %> alt="">
                <h3 class="pieDeFoto"><%= posteo.posteosAUsuarios.nombreUsuario %>: <%= posteo.pieImg %></h3>
            </section>
            
            
            <section class="right">
                <h4 class="h4-detalle">Comentarios</h4>
                <section class="comments">
                    <form action="" class="comment-form">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>
                    <div>
               <% for( let j = 0; j < posteo.posteosAComentarios.length; j++ ) { %>        
                        <article class="comment">
                                <img src="<%= posteo.posteosAComentarios[j].comentarioAUsuario.fotoPerfil %>" alt="" class="fotoPerfil">
                            <ul class="content">
                                <a class="user" href="/usuarios/detalle/<%= posteo.posteosAComentarios[j].usuarioId %>"><%= posteo.posteosAComentarios[j].comentarioAUsuario.nombreUsuario %></a>
                                <span class="text">: <%= posteo.posteosAComentarios[j].comentario %></span>
                            </ul>
                        </article>
                        <% } %>
                    </div>
                    <% if (locals.user != undefined && locals.user.id == posteo.usuarioId){%>
                        <div class="borrarPost">
                            <form action="/posteos/borrar/<%= posteo.id %>">
                                <button type="submit">Borrar Post</button>
                            </form>
                        </div>
                        <div class="editarPost">
                            <h3>Editar Posteo</h3>
                            <form action="/posteos/editar/<%= posteo.id %>">
                               <p> <label for="url">Url</label> </p>
                                <p><input type="text" name="url"></p>
                                <p><label for="pieImg">Descripcion</label></p>
                                <p><input type="text" name="pieImg" ></p>
                                <button type="submit">Enviar</button>
                            </form>
                        </div>
                        <% } %>
                </section>
            </section>
            
        </div>
    </main>

<%- include('./partials/footer') %>
</body>

</html>