<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
   <%- include('./partials/header') %>

    <main>
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario">
                    <img src="<%= posteo.fotoPerfil %>" alt="" class="fotoPerfil">
                    <p><a href="/usuarios/detalle/<%= posteo.usuarioId %>"><%= posteo.nombreUsuario %></a></p>
                </div>
                <img class="photo" src=<%= posteo.url %> alt="">
            </section>
            
            
            <section class="right">
                <h4 class="h4-detalle">Comentarios</h4>
                <section class="comments">
                    <form action="" class="comment-form">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>
                    <div>
               <% for( let j = 0; j < posteo.comentarios.length; j++ ) { %>        
                        <article class="comment">
                                <img src="<%= posteo.comentarios[j].fotoPerfil %>" alt="" class="fotoPerfil">
                            <ul class="content">
                                <a class="user" href="/usuarios/detalle/<%= posteo.comentarios[j].usuarioId %>"><%= posteo.comentarios[j].usuario %></a>
                                <span class="text">: <%= posteo.comentarios[j].comentario %></span>
                            </ul>
                        </article>
                        <% } %>
                    </div>
                </section>
            </section>
            
        </div>
    </main>

<%- include('./partials/footer') %>
</body>

</html>