<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    
<%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="https://via.placeholder.com/100x100" alt="">
                <div class="info-usuario">
                    <p><%= datos.nombreUsuario %></p> 
                    <a class="follow" href="/editarPerfil"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li>100 post</li>
                        <li>200 seguidores</li>
                        <li>300 seguidos</li>
                    </ul>
                </div>
                <% for( let j = 0; j < datos.length; j++ ) { %>
            </section>
            <section class="bottom">
                <article class="post">
                    <a href="/detallePost">
                        <img src="<%= datos[j].url %>" alt="">
                    </a>
                </article>
            </section>
        </div>
        <% } %>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>